.popup__input {
  max-width: 358px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, .2);
  align-self: center;
  margin-top: 30px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 13px;
}
