@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Inter/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/button/button.css);

/*header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

/*profile*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);
@import url(../blocks/profile/__info-container/profile__info-container.css);

/*elements*/
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__picture/element__picture.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like-button/element__like-button.css);
@import url(../blocks/element/__description/element__description.css);

/*footer*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyrights/footer__copyrights.css);

/*popup*/
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);


